html
{

}
 /* Bild jederzeit änderbar */
body {
  background-image: url("img/ef3e1aa3-12ea-414f-95ca-d6dc3949d90d.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: revert;
  background-color: #d0ae7e;
  font-family: Comic Sans MS, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background-color: transparent;
  padding: 25px;
  text-align: center;
  front-size: 35px;
  color: snow;

}

nav {
  float: left;
  width: 17%;
  height: 110px;
  background: transparent;
  padding: 30px;
  text-decoration: none;
}

nav ul {
  list-style-type: underline;
  padding: 1px;
  color: snow;
  text-decoration: none;
}

article {
  float: left;
  padding: 10px;
  width: 70%;
  background-color: rgba(51, 51, 51, 0.69);
  height: 640px;
  color: snow;
  position: center;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: transparent;
  padding: 5px;
  text-align: center;
}

/*@media nav, article {
    max-width: 600px;
    width: 100%;
    height: auto;
  }*/





